@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span style="color:red">@ViewData["nom"]</span></h1>
    <p>Ceci est un permier tes en ASP.net core <a href="https://docs.microsoft.com/aspnet/core">Learn about</a>.</p>
</div>
